* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 1em 2em;
    width: 300px;
    display: inline-grid;
}

.form-control {
    display: flex;
    margin: 1em 0.5em 1em 0.5em;
    padding: 0.9em;
}
.btn{
    margin: 3px;
    padding: 5px 2px;
    border-radius: 10px;
}

.btn-suma {
    background: linear-gradient(45deg, rgba(178,24,150,1), rgba(22,220,50,1));
    color: white;
    font-weight: 600;
}

.btn-resta {
    background: linear-gradient(45deg, rgba(90,16,90,1), rgba(25,150,220,1));
    color: white;
    font-weight: 600;
}

.btn-multiplicacion {
    background: linear-gradient(45deg, rgba(45,120,150,1), rgba(90,75,220,1));
    color: white;
    font-weight: 600;
}

.btn-divicion {
    background: linear-gradient(45deg, rgba(45,45,45,1), rgba(90,45,220,1));
    color: white;
    font-weight: 600;
}