* {
    margin: 0;
    padding:0; 
}
.body {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#background {
    background: #000;
    width: 90vmin;
    height: 92vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18,1fr);
}
.snake {
    background: linear-gradient(rgb(245, 38, 38), rgb(63, 48, 63));
    border: 3px solid white;
}
.food {
    background: linear-gradient(rgb(245, 38, 38), rgb(63, 48, 63));
}
.head {
    background: linear-gradient(rgb(0, 202, 51), rgb(8, 70, 3));
    transform: scale(1.02);
}
#scorebox {
    position: absolute;
    top: 50px;
    right: 300px;
    font-size: 25px;
    color: #fff
}
